button {
  width: 100%;
  margin: 15px 0 10px 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
}

.sign-up {
  display: flex;
  justify-content: center;
  a {
    margin-left: 5px;
  }
}
