<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{(editCategory) ? 'Edit' : 'Add'}} category</h5>
  </div>

  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <div class="form-group" *ngIf="categoryForm.get('title')">
        <label>Title *</label>
        <input type="text" class="form-control" placeholder="Enter title" formControlName="title"
          [ngClass]="categoryForm.get('title').touched && categoryForm.get('title').errors ? 'is-invalid' : ''">
        <div class="invalid-feedback" *ngIf="categoryForm.get('title').hasError('required')">Title is required</div>
      </div>

      <div formGroupName="metadata" *ngIf="getMetadata">
        <div class="form-group" *ngIf="getMetadata.get('certified_by_website')">
          <label>Link to Website</label>
          <input type="text" class="form-control" placeholder="Enter ..." formControlName="certified_by_website">
        </div>

        <div class="form-group" *ngIf="getMetadata.get('certified_by_relevant_locations')">
          <label>Most relevant geographic locations</label>
          <input type="text" class="form-control" placeholder="Enter ..." formControlName="certified_by_relevant_locations">
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-info" [disabled]="categoryForm.invalid" (click)="save()">{{(editCategory) ? 'Edit' : 'Add'}} category</button>
  </div>
</div>
